@import '~@angular/material/theming';
@import 'theme-components.scss';

@include mat-core();

$md-dtuprimary1: (
    50 : #f6e0e0,
    100 : #e8b3b3,
    200 : #d98080,
    300 : #c94d4d,
    400 : #be2626,
    500 : #b20000,
    600 : #ab0000,
    700 : #a20000,
    800 : #990000,
    900 : #8a0000,
    A100 : #ffb6b6,
    A200 : #ff8383,
    A400 : #ff5050,
    A700 : #ff3636,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$md-dtuprimary2: (
    50 : #f3f3f3,
    100 : #e0e0e0,
    200 : #cccccc,
    300 : #b8b8b8,
    400 : #a8a8a8,
    500 : #999999,
    600 : #919191,
    700 : #868686,
    800 : #7c7c7c,
    900 : #6b6b6b,
    A100 : #fdeaea,
    A200 : #f8bcbc,
    A400 : #ff8181,
    A700 : #ff6868,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-dtusecondary12: (
    50 : #fff9e0,
    100 : #fff0b3,
    200 : #ffe680,
    300 : #ffdb4d,
    400 : #ffd426,
    500 : #ffcc00,
    600 : #ffc700,
    700 : #ffc000,
    800 : #ffb900,
    900 : #ffad00,
    A100 : #ffffff,
    A200 : #fffaf2,
    A400 : #ffe8bf,
    A700 : #ffdfa6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-dtusecondary1: (
    50 : #fff3e0,
    100 : #ffe0b3,
    200 : #ffcc80,
    300 : #ffb84d,
    400 : #ffa826,
    500 : #ff9900,
    600 : #ff9100,
    700 : #ff8600,
    800 : #ff7c00,
    900 : #ff6b00,
    A100 : #ffffff,
    A200 : #fff7f2,
    A400 : #ffd6bf,
    A700 : #ffc6a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-dtusecondary2: (
    50 : #ffede0,
    100 : #ffd1b3,
    200 : #ffb380,
    300 : #ff944d,
    400 : #ff7d26,
    500 : #ff6600,
    600 : #ff5e00,
    700 : #ff5300,
    800 : #ff4900,
    900 : #ff3800,
    A100 : #ffffff,
    A200 : #fff4f2,
    A400 : #ffc9bf,
    A700 : #ffb4a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-dtusecondary3: (
    50 : #ffe0e0,
    100 : #ffb3b3,
    200 : #ff8080,
    300 : #ff4d4d,
    400 : #ff2626,
    500 : #ff0000,
    600 : #ff0000,
    700 : #ff0000,
    800 : #ff0000,
    900 : #ff0000,
    A100 : #ffffff,
    A200 : #fff2f2,
    A400 : #ffbfbf,
    A700 : #ffa6a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-dtusecondary4: (
    50 : #f3e0e0,
    100 : #e0b3b3,
    200 : #cc8080,
    300 : #b84d4d,
    400 : #a82626,
    500 : #990000,
    600 : #910000,
    700 : #860000,
    800 : #7c0000,
    900 : #6b0000,
    A100 : #ff9a9a,
    A200 : #ff6767,
    A400 : #ff3434,
    A700 : #ff1a1a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-dtusecondary5: (
    50 : #ffe0f3,
    100 : #ffb3e0,
    200 : #ff80cc,
    300 : #ff4db8,
    400 : #ff26a8,
    500 : #ff0099,
    600 : #ff0091,
    700 : #ff0086,
    800 : #ff007c,
    900 : #ff006b,
    A100 : #ffffff,
    A200 : #fff2f7,
    A400 : #ffbfd6,
    A700 : #ffa6c6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-dtusecondary6: (
    50 : #f9e7f3,
    100 : #f0c2e0,
    200 : #e699cc,
    300 : #db70b8,
    400 : #d452a8,
    500 : #cc3399,
    600 : #c72e91,
    700 : #c02786,
    800 : #b9207c,
    900 : #ad146b,
    A100 : #ffe0f0,
    A200 : #ffadd8,
    A400 : #ff7ac0,
    A700 : #ff60b4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-dtusecondary7: (
    50 : #f3e0ed,
    100 : #e0b3d1,
    200 : #cc80b3,
    300 : #b84d94,
    400 : #a8267d,
    500 : #990066,
    600 : #91005e,
    700 : #860053,
    800 : #7c0049,
    900 : #6b0038,
    A100 : #ff9ac6,
    A200 : #ff67aa,
    A400 : #ff348d,
    A700 : #ff1a7f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-dtusecondary8: (
    50 : #ede0ed,
    100 : #d1b3d1,
    200 : #b380b3,
    300 : #944d94,
    400 : #7d267d,
    500 : #660066,
    600 : #5e005e,
    700 : #530053,
    800 : #490049,
    900 : #380038,
    A100 : #ff6eff,
    A200 : #ff3bff,
    A400 : #ff08ff,
    A700 : #ee00ee,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-dtusecondary9: (
    50 : #ede0f3,
    100 : #d1b3e0,
    200 : #b380cc,
    300 : #944db8,
    400 : #7d26a8,
    500 : #660099,
    600 : #5e0091,
    700 : #530086,
    800 : #49007c,
    900 : #38006b,
    A100 : #c69aff,
    A200 : #aa67ff,
    A400 : #8d34ff,
    A700 : #7f1aff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-dtusecondary13: (
    50 : #e7edf9,
    100 : #c2d1f0,
    200 : #99b3e6,
    300 : #7094db,
    400 : #527dd4,
    500 : #3366cc,
    600 : #2e5ec7,
    700 : #2753c0,
    800 : #2049b9,
    900 : #1438ad,
    A100 : #e0e6ff,
    A200 : #adbdff,
    A400 : #7a94ff,
    A700 : #607fff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-dtusecondary10: (
    50 : #e7f9ff,
    100 : #c2f0ff,
    200 : #99e6ff,
    300 : #70dbff,
    400 : #52d4ff,
    500 : #33ccff,
    600 : #2ec7ff,
    700 : #27c0ff,
    800 : #20b9ff,
    900 : #14adff,
    A100 : #ffffff,
    A200 : #fbfdff,
    A400 : #c8eaff,
    A700 : #aee1ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-dtusecondary11: (
    50 : #f3f9e7,
    100 : #e0f0c2,
    200 : #cce699,
    300 : #b8db70,
    400 : #a8d452,
    500 : #99cc33,
    600 : #91c72e,
    700 : #86c027,
    800 : #7cb920,
    900 : #6bad14,
    A100 : #f0ffe0,
    A200 : #d8ffad,
    A400 : #c0ff7a,
    A700 : #b4ff60,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-dtusecondary14: (
    50 : #edf9e0,
    100 : #d1f0b3,
    200 : #b3e680,
    300 : #94db4d,
    400 : #7dd426,
    500 : #66cc00,
    600 : #5ec700,
    700 : #53c000,
    800 : #49b900,
    900 : #38ad00,
    A100 : #e1ffd7,
    A200 : #baffa4,
    A400 : #94ff71,
    A700 : #81ff58,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$dtu-primary1-primary: mat-palette($md-dtuprimary1);
$dtu-primary1-accent:  mat-palette($md-dtusecondary10, A200, A100, A400);
$dtu-primary1-warn:    mat-palette($md-dtusecondary1);
$dtu-primary1-theme: mat-light-theme($dtu-primary1-primary, $dtu-primary1-accent, $dtu-primary1-warn);

$dtu-primary2-primary: mat-palette($md-dtuprimary2);
$dtu-primary2-accent:  mat-palette($md-dtusecondary6, A200, A100, A400);
$dtu-primary2-warn:    mat-palette($md-dtusecondary7);
$dtu-primary2-theme: mat-light-theme($dtu-primary2-primary, $dtu-primary2-accent, $dtu-primary2-warn);

@include angular-material-theme($dtu-primary1-theme);
@include component-theme($dtu-primary1-theme);

.dtu-primary2-theme {
    @include angular-material-theme($dtu-primary2-theme);
    @include component-theme($dtu-primary2-theme);
}
