.container {
    align-items: center;
    display: flex;
    flex-direction: column;

    width: 400px;
    max-width: 100% !important;
    margin: 0 auto;
    /*box-shadow: 1px 2px 5px 3px #ccc;*/
    /*border-radius: 4px;*/
    background-color: #ffffff;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
}

.horizontalspace {
    height: 100px;
}

.alittlespace {
    margin-top: 10px;
}

.loginfailed {
    background-color: #a94442;
    width: 100%;
    text-align: center;
    height: 30px;
    color: #ffffff;
    padding-top: 12px;
    margin-bottom: 20px;
}
