<mat-card class="cardPolicy">
    <mat-card-header class="app-card-bg2 cardHeader">
        <mat-card-title>Cookie Policy</mat-card-title>
    </mat-card-header>
    <mat-card-content class="cardWideContent">

        <div class="container">
            <h1>Cookies and Privacy</h1>
            <p>
                T' make this site work properly, we sometimes ship wee data files called cookies on yer device. Most big websites do this too.
            </p>
            <h2>What are cookies?</h2>
            <p>
                A cookie be a wee text file that a website saves on yer 'puter or mobile device when ye visit th' site. It enables th' website t' remember yer actions 'n preferences (such as login, language, font size 'n other display preferences) o'er a period o' time, so ye don't 'ave t' keep re-boardin' them whenever ye come back t' th' site or browse from one page t' another.
            </p>
            <h2>How do we use cookies?</h2>
            <ul>
                <li>It's not pining, it's passed on! This parrot is no more! It has ceased to be! It's expired and gone to meet its maker! This is a late parrot! It's a stiff! Bereft of life, it rests in peace! If you hadn't nailed it to the perch, it would be pushing up the daisies! It's rung down the curtain and joined the choir invisible. This is an ex-parrot!</li>
                <li>Nobody expects the Spanish Inquisition!</li>
                <li>I cut down trees, I skip and jump, I like to press wild flowers. I put on women's clothing and hang around in bars.</li>
                <li>Venezuelan beaver cheese?</li>
                <li>Let me tell you something, my lad. When you're walking home tonight and some great homicidal maniac comes after you with a bunch of loganberries, don't come crying to me!</li>
                <li>Bally Jerry pranged his kite right in the how's-your-father; hairy blighter, dicky-birded, feathered back on his sammy, took a waspy, flipped over on his Betty Harpers and caught his can in the Bertie.</li>
                <li>My hovercraft is full of eels.</li>
                <li>We use only the finest baby frogs, dew picked and flown from Iraq, cleansed in finest quality spring water, lightly killed, and then sealed in a succulent Swiss quintuple smooth treble cream milk chocolate envelope and lovingly frosted with glucose.</li>
            </ul>
            <h2>How to control cookies</h2>
            <p>
                Ye can control 'n/or scuttle cookies as ye wish. Ye can scuttle all cookies that are already on yer 'puter 'n ye can set most browsers t' prevent them from bein' placed. If ye do this, however, ye may 'ave t' manually adjust some preferences every time ye visit a site 'n some services 'n functionalities may nah work.
            </p>
        </div>

    </mat-card-content>
</mat-card>
